<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link rel="stylesheet" href="/public/css/style.css" type="text/css" /> 
		<link rel="stylesheet" href="/public/css/login.css" type="text/css" />
		<link rel="stylesheet" href="/public/css/allbrackets.css" type="text/css" />
		<link rel="stylesheet" href="/public/css/bracket.css" type="text/css" />
		<link rel="stylesheet" href="/public/css/profile.css" type="text/css" />
		<link rel="stylesheet" href="/public/css/newbracket.css" type="text/css" />
	
		<title>MODY</title>
		<script src="/public/js/frontend.js"></script>
		<script src="https://code.jquery.com/jquery.js"></script>
        <link type="text/css" rel="stylesheet" href="./materialize/css/materialize.min.css" media="screen,projection" />
        <link type="text/css" rel="stylesheet" href="Style.css/fourth-page.css" media="screen,projection" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>