<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>MVC With Cats!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
        <link type="text/css" rel="stylesheet" href="./materialize/css/materialize.min.css" media="screen,projection" />
        <link type="text/css" rel="stylesheet" href="Style.css/fourth-page.css" media="screen,projection" />
	</head>
	<body>
		{{{ body }}}
	</body>
</html>