<div class="row nav-row">
        <div class="navbar-fixed">
            <nav class="nav-extended nav-bar">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo right">MODY</a>
                    <ul id="nav-mobile" class="left">
                        <li><a href="/profile" class="active">Profile</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="container">
        <h4>Saved Brackets</h4>
        <table>
            <thead>
                <tr>
                    <th>Brackets Name</th>
                    <th>Competitors</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
        </table>

    </div>