<div class="navbar-fixed">
        <nav class="nav-extended nav-bar">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo right">MODY</a>
                <ul id="nav-mobile" class="left">
                    <!-- <li><a href="sass.html" class="active">Profile</a></li> -->
                    <li><a href="badges.html">ALL USERS</a></li>
                </ul>
            </div>

        </nav>
    </div>
    <div class="container">

        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="col s6" class="card">
                        <p><input type="file" accept="image/*" name="image" id="file" onchange="loadFile(event)" style="display: none;"></p>
                        <p><label for="file" style="cursor: pointer;">Upload Image</label></p>
                        <p><img id="output" width="200" /></p>

                        <div class="card-content">
                            <p>Name:</p>
                            <p>Email:</p>
                        </div>
                    </div>
                    <div class="col s6">
                        <h6>Brackets:</h6>
                    </div>
                </div>
                <div class="col s6">
                    <div class="row">
                        <button class="button" type="button"><a href="third-page.html">Create the New Brackets</a></button>

                    </div>
                </div>
                <div class="col s6">
                    <button class="button" type="button"><a href="FourthPage.html">List Of All Users Brackets</a></button>

                </div>
            </div>
        </div>
    </div>
    <script>
        var loadFile = function(event) {
            var image = document.getElementById('output');
            image.src = URL.createObjectURL(event.target.files[0]);
        };
    </script>
    <script src="./Index.js/SecondPage.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>